<!-- header.component.html -->
<header>
    <div class="header-content">
      <!-- <img src="assets/logos/logo.png" alt="logo" class="logo-image"> -->
      <a  routerLink="/stock" class="italianno-font" >Lady Wings</a>
      <!-- <h2 class="italianno-font1">by Varsha</h2> -->
      <a routerLink="/product" class="nav-link">Product</a>
      <a routerLink="/vendors" class="nav-link">Vendor</a>
      <a routerLink="/stock" class="nav-link">Stock</a>
    </div>
    <!-- Add more header content as needed -->
  </header>
  